:root {
  --max-width: 1024px;
  /* --background-color: rgb(241, 190, 190); */
  --panel-color: hsl(0, 65%, 85%);
  --body-color: hsl(0, 65%, 75%);
  --complementary-color: #bef0f0;
}
body {
  font:
    16px "Italianno",
    cursive;
  color: black;
  background-color: var(--body-color);
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-shadow: 4px 4px 4px var(--complementary-color);
  padding: 2rem 0;
}
.shadow-card {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 10px;
  background-color: var(--panel-color);
  border: 2px solid black;
  border-radius: 1.8rem;
  box-shadow: 10px 10px 5px grey;
}
/*
Choose contrasting font
https://vanessabucceri.com/google-font-combinations/
*/
.about {
  display: flex;
  margin: 1rem 0;
  align-items: stretch;
  /* font-family: "Alumni Sans Pinstripe", regular; */
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  .bio {
    text-align: left;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > * {
      max-width: 30em;
    }
  }
}
a {
  /* text-decoration: none; */
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  /* font-weight: bold; */
  text-shadow: 2px 2px 2px var(--complementary-color);
}
/*
override default figure margin and padding
*/
figure {
  margin: 0;
  padding: 0;
}
/*
use a container to set the size of the image
when the column is taller than wide, use align-items to
vertically center the image
*/
.foto {
  display: flex;
  align-items: center;
  aspect-ratio: 1 / 1;
  padding: 0;
}
/*
make the image cover the container
*/
.foto img {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
header a {
  text-decoration: none;
  &,
  & :visited {
    color: black;
  }
}
h1 {
  font-size: 5rem;
  margin: 1rem 0;
}
h2 {
  font-size: 2rem;
  margin: 1rem 0;
}
h3 {
  margin: 2rem 0 0.5rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}

/*
for window width > 1000px = 50rem, set font size to 1.5rem
for window width < 500px = 31.25rem, set font size to 1rem

use clamp function calculator web site:
https://www.marcbacon.com/tools/clamp-calculator/
*/
.lyrics {
  padding: 1rem 0;
  font-size: clamp(1rem, 0.5rem + 1.6vw, 1.5rem);
}
footer {
  /* border-top: 1px solid black; */
  padding: 2rem 0;
  font:
    1.5em "Andale Mono",
    "DejaVu Sans Mono",
    Monaco,
    Consolas,
    monospace;
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0.5rem 0;
    }
  }
}
